{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jsdoc/recommended-typescript",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "no-inner-declarations": "off",
    "prefer-const": ["error", {"destructuring": "all"}],
    "jsdoc/require-template": "error",
    "jsdoc/require-jsdoc": ["warn", {"contexts": ["MethodDefinition"]}],
    "jsdoc/require-description": ["warn", {"exemptedBy": ["returns", "yields"]}],
    "jsdoc/tag-lines": ["warn", "always", {"count": 0, "startLines": 1}],
    "jsdoc/check-tag-names": ["warn", {"definedTags": ["override"]}]
  }
}
