# This workflow will do a clean install of node dependencies, build the source
# code and run tests in block on the latest version of node.

name: Tests

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  setup:
    runs-on: ubuntu-latest
    name: Compile SRE with locales
    steps:
      - uses: actions/checkout@v2
      - name: Setup Speech Rule Engine
        run: npm ci
      - name: Upload build
        uses: actions/upload-artifact@v2
        with:
          name: sre-library
          path: |
                lib
                js
                package.json
          
  test:

    strategy:
      matrix:
        block: [base, walker, semantic, en, ca, de, da, fr, es, it, hi, nb, nn, nemeth, sv]
    needs: setup
    runs-on: ubuntu-latest
    name: SRE jests tests for ${{ matrix.block }}
    steps:
      - uses: actions/checkout@v2
      - name: Downloading the build
        uses: actions/download-artifact@v2
        with:
          name: sre-library
      - name: Set up tests
        run: |
          sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
          git submodule update --init --recursive
          npm ci --ignore-scripts
          cd sre-tests; ln -s .. speech-rule-engine; npm ci; sudo chmod -R 777 .;
      - name: Run tests for ${{ matrix.block }}
        run: npm run actionTest js/json/${{ matrix.block }}
